Grid {
    align: center middle;
}

#confirmation_buttons {
    grid-size: 2 1;
    width: 100%;
}

#user_details {
    padding-bottom: 0;
    align: center middle;
}

#tables_container {
    align: center middle;
    width: auto;
}

#phase_breakdown_table {
    align: center middle;
    width: auto;
}
