#missing_vars_label{
    width: 100%;
    text-align: center;
    align: center middle;
}

#variable_input_group {
    text-align: center;
    align: center middle;
    width: 100%;
    offset-y: 0;
}

#variable_value_input {
    width: 40%;
}

#variable_select {
    width: 40%;
}

#update_status_label {
    width: 100%;
    text-align: center;
    align: center middle;
}