#view_user_label {
    align: center middle;
    text-align: center;
    width: 100%;
}

#user_details_label {
    align: center middle;
    text-align: center;
    width: 100%;
    offset-y: 1;
}

#buttons_group {
    offset-y: 1;
}
