#delete_user_label {
    align: center middle;
    text-align: center;
    width: 100%;
}

#delete_user_message {
    align: center middle;
    text-align: center;
    width: 100%;
    offset-y: 1;
}

#buttons_group {
    offset-y: 7;
}