#status_labels {
    align: center middle;
    padding: 0;
    offset-y: -3;
}

Label {
    text-align: center;
    align: center middle;
    width: 100%;
}

#action_buttons {
    offset-y: -4;
}

#survey_path_buttons {
    offset-y: 1;
}
